<a href="https://colab.research.google.com/github/khsaikat/PointCloud/blob/main/PointCloud_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install open3d

In [ ]:
import laspy
import open3d as o3d
import numpy as np
import pandas as pd

In [ ]:
las = laspy.read("trailer_HIGH.las")
las

In [ ]:
columns_name = list(las.point_format.dimension_names)
columns_name

['X',
 'Y',
 'Z',
 'intensity',
 'return_number',
 'number_of_returns',
 'scan_direction_flag',
 'edge_of_flight_line',
 'classification',
 'synthetic',
 'key_point',
 'withheld',
 'scan_angle_rank',
 'user_data',
 'point_source_id',
 'red',
 'green',
 'blue']

In [ ]:
las.X

array([10756,  9538,  8324, ...,     0,     0,     0], dtype=int32)

In [ ]:
point_data = np.stack([las.X, las.Y, las.Z, las.intensity, las.return_number, las.number_of_returns, las.scan_direction_flag, \
           las.edge_of_flight_line, las.classification, las.synthetic, las.key_point, las.withheld, \
            las.scan_angle_rank, las.user_data, las.point_source_id, las.red, las.green, las.blue], axis=0).transpose((1, 0))
point_data
df = pd.DataFrame(point_data, columns=columns_name)
# df.to_csv('trailer_HIGH' + '.csv')
df.head()

,X,Y,Z,intensity,return_number,number_of_returns,scan_direction_flag,edge_of_flight_line,classification,synthetic,key_point,withheld,scan_angle_rank,user_data,point_source_id,red,green,blue
0,10756,-1032,1422,53,1,1,1,0,0,0,0,0,0,0,0,0,255,157
1,9538,-915,1402,144,1,1,1,0,0,0,0,0,0,0,0,229,255,0
2,8324,-800,1348,129,1,1,1,0,0,0,0,0,0,0,0,165,255,0
3,4806,-462,851,14,1,1,1,0,0,0,0,0,0,0,0,0,119,255
4,4822,-465,927,137,1,1,1,0,0,0,0,0,0,0,0,199,255,0